/* custom.css */

.reveal {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.reveal h1 {
    font-size: 1.8em; /* Reduced from 2em */
}

.reveal h2 {
    font-size: 1.5em; /* Reduced from 1.75em */
}

.reveal h3 {
    font-size: 1.3em; /* Reduced from 1.5em */
}

.reveal p, .reveal li {
    font-size: 1em;
}

.reveal pre code {
    font-size: 0.9em;
}
