/* custom.css */

.reveal {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.reveal h1 {
    font-size: 2em; /* Adjusted size */
}

.reveal h2 {
    font-size: 1.75em; /* Adjusted size */
}

.reveal h3 {
    font-size: 1.5em; /* Adjusted size */
}

.reveal p, .reveal li {
    font-size: 1em; /* Adjusted size */
}

.reveal pre code {
    font-size: 0.9em; /* Adjusted size */
}
